sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

matrix:
  include:
    # linux
    - os: linux   # abi 47
      env: NODE_VERSION="5.1.1" CXX="g++-4.9"
    - os: linux   # abi 48
      env: NODE_VERSION="6" CXX="g++-4.9"
    - os: linux   # abi 49
      env: NODE_VERSION="6" ELECTRON="1.3.6" CXX="g++-4.9"
    # os x x86
    - os: osx
      env: NODE_VERSION="5.1.1" CXX="clang"
    - os: osx
      env: NODE_VERSION="6" CXX="clang"
    - os: osx
      env: NODE_VERSION="6" ELECTRON="1.3.6" CXX="clang"

before_install:
  - rm -rf ~/.nvm/ && git clone --depth 1 "https://github.com/creationix/nvm.git" ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION
  - export PATH="./node_modules/.bin/:$PATH"

install:
  - if [[ -n "$ELECTRON" ]]; then
      export npm_config_target=$ELECTRON;
      export npm_config_disturl=https://atom.io/download/atom-shell;
      export npm_config_runtime=electron;
      export npm_config_build_from_source=true;
    fi
  - cd ctags-prebuilt && npm install && npm run build
  - cd fuzzy-native && npm install && npm run build

script:
  - |
    cd ctags-prebuilt
    [[ -z "$ELECTRON" ]] && npm test
    node-pre-gyp package testpackage
  - |
    cd fuzzy-native
    [[ -z "$ELECTRON" ]] && npm test
    node-pre-gyp package testpackage

git:
  depth: 10

branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+(?:-[a-z0-9.-]+)?$/

deploy:
  provider: releases
  api_key:
    secure: DcAmqsYyHesJI2I5q2Ugb2WKqV9fbVfLcpSfAN3awCX3YQaDrWzIT6w8TdVLAFYlw1Hj7P/TVHPxZOcEgZqP8pVM4Y28Tt8b6IcYtpT2Hs1k9FhHJLjZsYIw0l5ka9r2hd03fDXbmLLSg++v8tQjIUkzJrxlop/1wA/EbE03oSoJJ8lHGW3wtCXxkisrkza14IK7MIuROY3gqkeOVlc6wnqNe82ijF7URWnIpspXFxqW9tRHUcb9XjsJqB+by+et8bhtnJp+CzK0Fiz7ENKFNh+680/e5grVH0b8LrH7ChLkIf/AGJAFRkgta48PnvxKwlrhivi1jOfB5wejl3N2Zjm2XHT70Nj4j5ShfvPBxUxhV69nBKiXsl9JP0uLSUItLuaSuf09GiJXk53So/dgQQoiLvGQ6XkRZA2EoRR8G4WzhTG7V3IiKWScEA2o6g7F/v66w4vcTgvWWAQAgvxy2KMRkR1ModvcNxmyOkJqPOcG5vYw4MqZOZzfVOeqxTEUgks/ZC7TwiJnhmQrdQYWUxxqO1l4J+oBfu/3QE2iK7qrQEvMtJTm9IOQZh/Jk7zzCFySPlwpp7zwxVenUx0F3Vdc7SdLUVCEDQi+erR+4cbWJx13wtJCn5qVTrV4+vkR1Th8xlvCFTGRqy335DpGtdfNZBCfkNhSetcCUdwW4kQ=
  skip_cleanup: true
  file_glob: true
  file: */build/stage/*.tar.gz
  on:
    repo: facebooknuclide/nuclide-prebuilt-libs
    tags: true
